<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/about.css">
    <title>About</title>
</head>

<body>
    <nav>
        <a class="homenav" href="/">Home</a>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>

    <h1>About Page</h1>

    <p>What is this?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi eius doloribus,
        vitae minus eum tenetur nostrum distinctio magnam esse reiciendis illo labore delectus
        veniam aut aspernatur repellat doloremque ipsum ad.</p>

    <h2>how bild this?</h2>

    <h2>Why did we build this?</h2>

    <footer class="footer">
        <p>&copy; 2025 All rights reserved.</p>
    </footer>
</body>

</html>