<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/about.css">
    <title>About</title>
</head>

<body>
    <nav>
        <a class="homenav" href="/">Home</a>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="/about" class="about">About</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
    </nav>

    <h1>About Page</h1>

    <h2>What is Groupie Trackers?</h2>
    <p>Groupie Trackers is a web application that visualizes artist and band information from a provided API.
    The platform allows users to explore details about various musical artists, including their biographies, tour dates,
    concert locations, and band members.
    The project demonstrates how to fetch, process, and creatively display API data in an interactive, user-friendly interface.
    </p>

    <h2>How we built it</h2>
    <p>We constructed Groupie Trackers using:</p>
    <ul class="points">
        <li><span style="font-weight: bold;">Front end:</span>
             HTML, CSS, and JavaScript for the user interface and interactive elements
        </li>
        <li><span style="font-weight: bold;">Backend:</span>
             Golang to handle API requests and data processing
        </li>
        <li><span style="font-weight: bold;">Data Visualization:</span>
             Various display methods like cards, tables, and interactive elements to present the artist information
        </li>
        <li><span style="font-weight: bold;">Client-Server Communication:</span>
             Implemented features that require real-time data fetching from our server
        </li>
    </ul>

    <h2>Why We Built It</h2>
    <p>We created Groupie Trackers to:</p>
    <ul class="points">
        <li><span style="font-weight: bold;">Demonstrate API Handling:</span>
            Show how to effectively work with complex API data structures
        </li>
        <li><span style="font-weight: bold;">Improve Data Visualization:</span>
             Explore creative ways to present information beyond simple lists
        </li>
        <li><span style="font-weight: bold;">Enhance User Experience:</span>
             Build an intuitive interface for music fans to explore artist information
        </li>
        <li><span style="font-weight: bold;">Practice Full-Stack Development:</span>
             Combine frontend and backend skills in a cohesive project
        </li>
        <li><span style="font-weight: bold;">Implement Event-Driven Features:</span>
             Showcase client-server interactions through user-triggered events
        </li>
    </ul>

    <footer class="footer">
        <p>&copy; 2025 All rights reserved.</p>
    </footer>
</body>

</html>