<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Groupie-Tracker</title>
</head>

<body>

    <h1>Main Page</h1>
    <div class="cards-container">
        {{range .}}
        <div class="card">

            <p>Name: {{.Name}}</p>
            <img src="{{.Image}}" alt="{{.Name}}" loading="lazy" />
            <p>Members: {{.Members}}</p>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>ID: {{.ID}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
            <!-- <a href="{{.Locations}}">View Locations</a> -->
            <a href="/artists/{{.ID}}">Locations Details</a>
            <!-- <a href="{{.ConcertDates}}"> Concert Dates</a>
            <a href="{{.Relations}}"> Relations</a> -->
        </div>
        {{end}}
    </div>
</body>

</html>