<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Groupie-Tracker</title>
</head>

<body>
    <div class="main-content">

        <nav>
            <a class="homenav" href="/">Home</a>
            <ul>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>

        <h1>Home Page</h1>

        <form action="/" method="GET" class="search-bar-form">
            <div class="search">
                <!-- Toggle button inside first form -->
                <input type="checkbox" id="toggle-filter">
                <label for="toggle-filter" class="filter-toggle-btn">
                    <img src="../static/filter2.png" alt="Toggle Filters" width="20px" height="20px">
                </label>

                <input type="text" name="searchQuary" placeholder="Search artist.." list="autocomplete"
                    autocomplete="off" />
                <datalist id="autocomplete">
                    {{range .Suggestions}}
                    <option value="{{.Value}}" label="{{.Label}}">
                        {{end}}
                </datalist>

                <button type="submit" class="submit-btn">Search</button>
                <a href="/" class="reset-btn">Reset</a>
            </div>
        </form>


        <!-- Filter form -->
        <form id="filter" action="/" method="GET">
            <input type="hidden" name="filterQuerys" value="true">

            <div class="form-group">
                <label for="creationDateStart">Creation Date start:</label>
                <input type="number" id="creationDateStart" name="creationDateStart" placeholder="Creation year start"
                    autocomplete="off" />
                <span title="Only this give the exact year artists">ℹ️</span>
            </div>

            <div class="form-group">
                <label for="creationDateEnd">Creation Date end:</label>
                <input type="number" id="creationDateEnd" name="creationDateEnd" placeholder="Creation year end"
                    autocomplete="off" />
                <span title="Only this give artists till this year">ℹ️</span>
            </div>

            <br>

            <div class="form-group">
                <label for="firstAlbumStart">First Album start:</label>
                <input type="date" id="firstAlbumStart" name="firstAlbumStart" placeholder="First album start"
                    autocomplete="off" />
                <span title="Only this give the exact date artists">ℹ️</span>
            </div>

            <div class="form-group">
                <label for="firstAlbumEnd">First Album end:</label>
                <input type="date" id="firstAlbumEnd" name="firstAlbumEnd" placeholder="First album end"
                    autocomplete="off" />
                <span title="Only this give artists till this date">ℹ️</span>
            </div>

            <div class="checkbox-item">
                <p>Number of band members: </p>
                <div class="checkbox-group">
                    <input type="checkbox" name="cb1" id="cbb1" /><label for="cbb1">1</label>
                    <input type="checkbox" name="cb2" id="cbb2" /><label for="cbb2">2</label>
                    <input type="checkbox" name="cb3" id="cbb3" /><label for="cbb3">3</label>
                    <input type="checkbox" name="cb4" id="cbb4" /><label for="cbb4">4</label>
                    <input type="checkbox" name="cb5" id="cbb5" /><label for="cbb5">5</label>
                    <input type="checkbox" name="cb6" id="cbb6" /><label for="cbb6">6</label>
                    <input type="checkbox" name="cb7" id="cbb7" /><label for="cbb7">7</label>
                    <input type="checkbox" name="cb8" id="cbb8" /><label for="cbb8">8</label>
                </div>
            </div>

            <div class="form-group">
                <label for="location">Search by location:</label>
                <input type="text" id="location" name="location" placeholder="Search by location" autocomplete="off" />
            </div>

            <div style="text-align: center; margin-top: 20px;">
                <button type="submit" class="filters-submit-btn">Submit</button>
                <a href="/" class="filters-reset-btn">Reset</a>
            </div>
        </form>

        {{if .Artist}}
        <div class="cards-container">
            {{range .Artist}}
            <div class="card">
                <div class="card-img">
                    <img src="{{.Image}}" loading="lazy" />
                </div>

                <div class="card-info">
                    <div class="field"><label>Name:</label><span>{{.Name}}</span></div>
                    <div class="field"><label>Members:</label><span> {{join .Members ", "}}</span></div>
                    <div class="field"><label>Creation Date:</label><span>{{.CreationDate}}</span></div>
                    <div class="field"><label>First Album:</label><span>{{.FirstAlbum}}</span></div>
                    <a href="/artists/{{.ID}}" class="location-details-btn">Location Details</a>
                </div>
            </div>
            {{end}}
        </div>

        {{else}} <!-- If (result slice) is empty -->
        <p class="no-result-title" style="text-align: center; font-weight: bold;">No results found</p>
        {{end}}
    </div>

    <!-- pagentation logic -->
    <div class="pagination">
        {{if .HasPrev}}
        <a href="{{.PrevPageURL}}">&larr; Previous</a>
        {{end}}

        <span>Page {{.Page}} of {{.TotalPages}}</span>

        {{if .HasNext}}
        <a href="{{.NextPageURL}}">Next &rarr;</a>
        {{end}}
    </div>


    <footer class="footer">
        <p>&copy; 2025 All rights reserved.</p>
    </footer>

</body>

</html>